<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
     					http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
     	
    <!-- ========================================Date source configuration ============================================================== -->				
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="WEB-INF/jdbc.properties" />

	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close" 
		p:driverClass="${driver.jdbc.localhost.mysql.colorcc}"
		p:jdbcUrl="${url.jdbc.localhost.mysql.colorcc}" 
		p:username="${username.jdbc.localhost.mysql.colorcc}"
		p:password="${password.jdbc.localhost.mysql.colorcc}"
		p:idleConnectionTestPeriodInSeconds="60" 
		p:idleMaxAgeInSeconds="240"
		p:maxConnectionsPerPartition="30" 
		p:minConnectionsPerPartition="10"
		p:partitionCount="3" 
		p:acquireIncrement="5" 
		p:statementsCacheSize="100"
		p:releaseHelperThreads="3" p:initSQL="SELECT 1" />
		
	<!-- ========================================Velocity configuration ============================================================== -->
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="configLocation" value="/WEB-INF/velocity.properties " />
	</bean>	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
	  <property name="cache" value="true"/>
	  <property name="prefix" value=""/>
	  <property name="suffix" value=".vm"/>
	</bean>
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
			</props>
		</property>
	</bean>
	
	<!-- ========================================JavaMail configuration ============================================================== -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">  
	    <property name="host" value="smtp.163.com" />  
	    <property name="username" value="jackstudy@163.com" />  
	    <property name="password" value="abc123" />  
	    <property name="javaMailProperties">  
	        <props>  
	            <prop key="mail.smtp.auth">true</prop>  
	            <prop key="mail.smtp.timeout">25000</prop>  
	            <prop key="mail.smtp.port">465</prop>  
	            <prop key="mail.smtp.socketFactory.port">465</prop>  
	            <prop key="mail.smtp.socketFactory.fallback">false</prop>  
	            <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>  
	        </props>  
	    </property>  
	</bean>  
	
	<!-- ========================================MyBatis configuration ============================================================== -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="WEB-INF/config/mybatis3-config.xml" />
	</bean>
	
	<bean id="baseMapper" class="org.mybatis.spring.mapper.MapperFactoryBean" abstract="true" lazy-init="true">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- ======================================== Spring security configuration ===================================================== -->
	<import resource="config/security/spring-security3.xml" />
	<import resource="config/security/security-mybatis3-mapper.xml" />
</beans>